<html>
<body>
{% include 'head.html' %}
<form action="/p_add/" method="post">
    {% csrf_token %}
<table align="center" bgcolor="silver">
    <tr><td>Add Merchants</td></tr>
    <tr><td><input type="number" placeholder="p_Id" required name="p_id"> </td></tr>
    <tr><td><input type="text" placeholder="p_name" required name="p_name"> </td></tr>
    <tr><td><input type="number" placeholder="p_price" required name="p_price"> </td></tr>
    <tr><td><input type="number" placeholder="p_qty" required name="p_qty"> </td></tr>
    <tr><td><button type="submit">Save</button> </td></tr>


</table>
    </form>
</body>
</html>